
<table>
  <thead>
    <tr>
      <th>Category ID</th>
      <th>Category Name</th>
      <th>Creation Date</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categoryList.slice(currentPage * itemsPerPage, (currentPage + 1) * itemsPerPage)">
      <td>{{ category.categoryId }}</td>
      <td>{{ category.categoryName }}</td>
      <td>{{ category.creationDate }}</td>
      <td><a class="update-link" [routerLink]="['/update-category', category.categoryId]">Update</a></td>
      <td><button class="delete-button" (click)="deleteItem(category.categoryId)">Delete</button></td>
      <td><a [routerLink]="['/category-detail', category.categoryId]">{{ category.title }}</a></td>
    </tr>
  </tbody>
</table>

<a class="add-category-button" routerLink="/add-category" routerLinkActive="active" ariaCurrentWhenActive="page">
  Add Category
</a>
<mat-paginator [length]="categoryList.length"
[pageSize]="itemsPerPage"
[pageIndex]="currentPage"
[pageSizeOptions]="[3,5, 10, 25, 50]"
(page)="onPageChange($event)">
</mat-paginator>
