<div class="add-user-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="addUserForm">
      <div>
        <label for="userName">User Name</label>
        <input formControlName="userName" type="text" id="userName">
      </div>
      <div>
        <label for="email">Email</label>
        <input formControlName="email" type="text" id="email">
      </div>
      <div>
        <label for="isActive">Active</label>
        <select formControlName="isActive" name="isActive" id="isActive">
          <option value="true" selected>Active</option>
          <option value="false">Passive</option>
        </select>
      </div>
      <button class="button" type="submit">Save</button>
    </form>
  </div>
  
  