<div class="welcome-section">
    <h1 class="welcome-heading">Welcome to Homepage</h1>
  </div>
  
  <div class="navigation-links">
    <a routerLink="/list-user" routerLinkActive="active" ariaCurrentWhenActive="page">
      <span class="link-icon">&#x1F464;</span> User List
    </a>
    <a routerLink="/list-post" routerLinkActive="active" ariaCurrentWhenActive="page">
      <span class="link-icon">&#x1F4DD;</span> Post List 
    </a>
    <a routerLink="/list-category" routerLinkActive="active" ariaCurrentWhenActive="page">
      <span class="link-icon">&#x1F4D1;</span> Category List
    </a>
    <a routerLink="/list-comment" routerLinkActive="active" ariaCurrentWhenActive="page">
      <span class="link-icon">&#x1F5AE;</span> Comment List
    </a>
  </div>
  